body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    background-color: #fcebe7 !important;
}

.contact-img {
    width: 150px;
    border-radius: 50%;
}

.contact-img-big {
    width: 200px;
    border-radius: 50%;
}